html,body {
    line-height: 1.3;
    background: #0d2552 !important;
}
.abc {
    border: 1px solid #da1515;
}

.list-task {
    background-color: rgb(9, 28, 63);
    width: 100%;
    border-radius: 10px;
    max-height: 50%;
    margin: 20px 0;
    overflow-y: auto;
    line-height: normal;
}
.task-container {
    background-color: rgb(25, 58, 119);
    margin: 10px 10px;
    border-radius: 5px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
}
.task-name {
    color: white;
    font-weight: 600;
}
.task-item-delete {
    color: white;
    font-weight: 700;
    cursor: pointer;
}


.input-search-bar, 
.add-task-input {
    height: 2.3em;
    margin-left: 12%;
    text-align: center;
    background-color: rgb(20, 46, 95);
    color: rgb(232, 230, 227);
    border: none;
    border-radius: 0.4375rem;
}


.filtered {
    display: none;
}

.length-error {
    color: red;
    margin-top: 0.625rem;
  }