/*BASE CSS*/
html, body {
    font-family: 'Open Sans', sans-serif !important;
    background: #0d2552 !important;
}
.abc {
    border: 1px solid #da1515;
}
h1 {
    font-size: 2rem !important;
    color: white;
    margin: 1rem 0 !important;
    font-weight: 600 !important;
}
p{
    color: white;
    font-weight: 700 !important;
}


/*TASK CONTAINER*/
.box-task {
    max-height: 20rem !important;
    overflow-y: auto !important; 
}
.jp.list-task {
    background-color: rgb(9, 28, 63);
    border-radius: 10px;
    line-height: normal;
    padding: 10px 0;
    
}
.task-container {
    background-color: rgb(25, 58, 119);
    margin: 10px 10px;
    border-radius: 5px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
}
.task-name {
    color: white;
    font-weight: 600;
}
.task-item-delete {
    color: white;
    font-weight: 700;
    cursor: pointer;
}


/*SEARCH AND ADD*/
.input-search-bar::placeholder, .add-task-input::placeholder {
    color: #587dc2;
    font-size: 1rem;
}
.input-search-bar, 
.add-task-input {
    height: 2.3em;
    margin-left: 12%;
    text-align: center;
    background-color: rgb(20, 46, 95);
    color: rgb(232, 230, 227);
    border: none;
    border-radius: 0.4375rem;
}
.filtered {
    display: none;
}
.add-task-label {
    display: block;
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
}


/*MSG*/
.length-error {
    color: red;
    margin-top: 0.625rem;
}